
# Playwright
# ==========================
# Dependencies
# ==========================
node_modules/

# =========================

# ==========================
# Playwright
# ==========================
test-results/
playwright-report/
blob-report/

# ==========================
# Cucumber Reports
# ==========================
reports/

# ==========================
# Allure
# ==========================
allure-results/
allure-report/

# ==========================
# Rerun
# ==========================
@rerun.txt
rerun.txt

# ==========================
# Logs
# ==========================
*.log

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db