# Dependencies
node_modules/

# Reports
reports/
playwright-report/
test-results/
blob-report/

# Allure
allure-results/
allure-report/

# Rerun
@rerun.txt
rerun.txt

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db