# Dependencies
node_modules/

# Reports
/reports/


# Allure
allure-results/
allure-report/

# Rerun
@rerun.txt
rerun.txt

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

reports/
*.log